div {
   
       background-color: aquamarine;
        height: 200px;
        width: 300px;   
        margin: 0 auto;     
        padding: 20px;
        text-align: center;
        align-content: center;
}
