.divtopo{
    height: 60px;
    width: 100%;
    background-color: black;
    color: aliceblue;

    position: fixed;
    top: 0;
    left: 0;
}
.conteudo{
    height: 3000px;
    width: 200px;
    background-color: chocolate;
}
    
   