.divtopo{
    height: 60px;
    width: 200px;
    background-color: orange;
    text-align: center;
    padding-top: 30px;
    position: sticky;
    margin-top: 50px;
    top: 0;

}
p {
    font-size: 20px;    
}