body {
    margin: 0;
}

.DivMenu {
    background-color: aquamarine;
}

.botao {
    display: inline-block;
    background-color: bisque;
    height: 40px;
    width: 120px;
    margin: 5px;
    text-align: center;
    align-content: center;
}

